<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Required meta tag -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, inital-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap.min.css') }}">
    <!-- Pybo CSS -->
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <title>Hello, Pybo !</title>
</head>
<body>
<!-- Start Basic Template -->
{% include "navbar.html" %}
{% block content %}
{% endblock %}
<!-- End Basic Template -->
<!-- JQuery JS -->
<script src="{{ url_for('static', filename='jquery.min.js') }}"></script>
<!-- Bootstrap JS -->
<script src="{{ url_for('static', filename='bootstrap.min.js') }}"></script>
<!-- Java Script -->
{% block script %}
{% endblock %}
</body>
</html>